.navbar {
    width: auto;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
}

.navbar-logo-img {
    width: 150px;
    height: auto;
}

.navbar-list {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-item {
    width: 35%;
}

.navbar-item:first-child {
    width: 20%;
}

.login, .register {
    width: 100%;
    padding: 10px 15px;
    border: 2px solid #FE0000;
    border-radius: 30px;
    color: black;
    font-weight: bold;
    background-color: white;
    transition: .6s;
}
.basket-link {
    display: flex;
    justify-content: center;
    align-items: center;
}
.basket {
    width: 35px;
    height: auto;
    color: black;
}
.basket-count {
    border-radius: 50%;
    background-color: #FE0000;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items:center;
}

.login:hover, .register:hover {
    border: 2px solid #FE0000;
    background-color: #FE0000;
    color: white;
}

.login-form, .register-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.name, .email, .password {
    padding: 10px 15px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    border: 2px solid black;
}
.login-btn, .register-btn {
    padding: 10px 15px;
    border-radius: 20px;
    border: 2px solid #FE0000;
    background-color: white;
    color: black;
    font-weight: bold;
    transition: .6s;
}

.login-btn:hover, .register-btn:hover {
    border: 2px solid #FE0000;
    background-color: #FE0000;
    color: white;
}

.not_active{
    display: none;
 }
 
 .active{
    display: block;
 }